.todoContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.todos {
  font-size: 1rem;
  font-weight: 500;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 50px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 4px -2px black;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  transition: all .3s ease-in-out;
}

.items:hover{
  box-shadow: 1px 1px 6px -1px #FF734F;
  cursor: pointer;
}

.editText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editText > button {
  margin: 0 5px;
  display: flex;
}

.editText > button:nth-child(3) {
  color: #ef4040;
}

.editText > input {
  border: none;
  border-radius: 50px;
  background: transparent;
  padding: 10px;
  box-shadow: 1px 1px 5px -2px red;
  margin: 0 10px;
  width: 18vw;
}

/* Edit and Delete Buttons */

button {
  cursor: pointer;
  background: transparent;
}

.editBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.editBtn > span {
  display: flex;
  align-items: center;
  margin-right: 10px
}

.editBtn > button:nth-child(2) {
  color: #a1eebd;
}

.items > button {
  color: red;
}

/* Scrollbar styles */

.todos::-webkit-scrollbar {
  width: 0.5rem;
}

.todos::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.todos::-webkit-scrollbar-track {
  background-color: #eee;
}
