* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: #FFF4F2;
}

.app {
  background-color: white;
  box-shadow: rgba(15, 126, 238, 0.2) 0px 8px 24px;;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .app {
    max-width: 300px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .app {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .app {
    max-width: 600px;
  }
}

.header {
  background: rgb(44, 44, 44);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  position: static;
}

.logoside {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoside h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .logoside h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .logoside h1 {
    text-align: center;
    font-size: 1.8rem;
  }
}

.logoside svg {
  font-size: 2.3rem;
  margin: 0 20px;
  animation: spin 6s linear infinite;
  color:#FF734F;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .logoside svg {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .logoside svg {
    font-size: 1.6rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
