.inputForm {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.inputForm input, .inputForm button {
  outline:none;
  border:none;
  font-size: 1.4rem;
  color:#000;
}

.inputForm input {
  height: 5vh;
  width: 80%;
  max-width: 900px;
  margin: 10px auto 20px auto;
  padding: 10px;
  box-shadow: 1px 1px 6px -2px #000;
  background: #F3F8FF;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius: 50px;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .inputForm input {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .inputForm input {
    font-size: 1.2rem;
  }
}

.inputForm input::placeholder {
  font-size: 1.5rem;
  color:rgba(229, 229, 229, 0.907)
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .inputForm input::placeholder {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .inputForm input::placeholder {
    font-size: 1.2rem;
  }
}

.inputForm button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 10px 15px;
  background: #FF734F;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .inputForm button {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .inputForm button {
    font-size: 1rem;
  }
}
